body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf0;
  color: #333;
  transition: background 1s ease;
}

/* Landing page */
#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffe4e1, #e6e6fa);
  text-align: center;
  animation: fadeIn 2s ease-in;
}

#landing h1 {
  font-size: 2em;
  color: #b03a9e;
  margin-bottom: 20px;
  text-align: center;
}

#landing button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1em;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#landing button:hover {
  background-color: #e75480;
}

.hidden {
  display: none;
}

/* Gallery styles  */

.intro-text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.intro-text h2 {
  font-size: 2.5rem;
  color: #d8259c;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 1.1rem;
  color: #555;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 40px;
  color: #222;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-top: -10px;
  margin-bottom: 40px;
  color: #555;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin: 30px auto;
  padding: 0 20px;
}
.gallery img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
.gallery img:hover {
  transform: scale(1.05);
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.hidden {
  display: none !important;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
